.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 18px;
}

.input input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.input input:focus {
  outline: none;
  border-color: #8f8c0393;
}

.input p.alert {
  color: red;
}