* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #b4b22f93;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label, p {
    background: linear-gradient(90deg, #42410293, #4f005f);
    color: transparent;
    -webkit-background-clip: text;    
}
