* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: linear-gradient(90deg, rgb(212, 158, 167), #b206d4)
}

body, svg {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline-block;
  background: linear-gradient(90deg, rgb(212, 158, 167), #9903b8);
  color: transparent;
  -webkit-background-clip: text;    
}
