.button {
  font: inherit;
  border: 1px solid #8f8c0393;
  border-radius: 4px;
  background: #8f8c0393;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.5);
}

.button:hover,
.button:active {
  background: #75730393;
  border-color: #75730393;
}

.button:focus {
  outline: none;
}

@media (width <= 600px) {
  .button {
    width: 100%;
  }
}