.button {
  display: inline-block;
  text-align: center;
  font: inherit;
  border-radius: 4px;
  background: linear-gradient(90deg, rgb(212, 158, 167), #b206d4);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 26%);
  text-decoration: none;
  width: fit-content;
  border: none;
  padding: 0.6rem 1.5rem;
}

.button:hover,
.button:active {
  background: linear-gradient(90deg, rgb(196, 145, 154), #9903b8);
}

.button:focus {
  outline: none;
}

@media (width <= 600px) {
  .button {
    width: 100%;
  }
}